<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>冷凍車温度表示サンプル</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.router/2.0.1/vue-router.min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="" />
    <meta name=" robots" content="noindex" />
    <meta name="description" content="" />

    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
      }
      header {
        width: 100%;
        background-color: #007db9;
      }

      #app {
        max-width: 1280px;
        margin: 0 auto;
        height: 500px;
      }

      #app > p {
        display: flex;
        width: 80%;
        max-width: 1280px;
        margin: 0 auto;
      }

      #app > p > span {
        font-size: 1.5rem;
        font-weight: bold;
      }

      #app > canvas {
        align-items: center;
        justify-content: center;
        width: 80%;
        max-width: 1280px;
        margin: 0 auto;
        height: 500px;
      }

      #nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
      }

      #nav > ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      #nav > ul > li > a {
        display: block;
        height: auto;
        padding: 20px;
        color: #fff;
        text-decoration: none;
      }

      #nav > ul > li > span {
        position: relative;
        display: block;
        height: auto;
        padding: 20px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }

      #nav > ul > li > span:after {
        content: '▼';
        display: inline-block;
      }

      .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        padding: 0;
        list-style-type: none;
        background-color: #007db9;
      }

      .dropdown li {
        width: 250px;
        border-bottom: 1px solid #fff;
      }

      .dropdown li a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
      }

      .isOpen {
        display: block;
      }
    </style>
  </head>

  <body>
    <header>
      <nav id="nav">
        <ul>
          <li v-for="item in items">
            <a :href="item.url" v-if="!item.children"> <img :src="item.icon" /> {{ item.name }} </a>
            <span v-else v-on:mouseover="mouseover" v-on:mouseleave="mouseleave">
              <img :src="item.icon" /> {{ item.name }}

              <ul class="dropdown" :class="{ isOpen }">
                <li v-for="child in item.children" @click="getData(child)">
                  <a :href="child.url"> <img :src="child.icon" /> {{ child.name }} </a>
                </li>
              </ul>
            </span>
          </li>
        </ul>
      </nav>
    </header>

    <div id="app">
      <p>
        <span>{{device.name}} の温度計測結果</span>
      </p>
      <br />
      <p>
        時毎温度情報&nbsp;&nbsp;
        <button @click="displayGraph_ave">
          <img src="https://img.icons8.com/material-outlined/24/000000/graph.png" /> グラフ表示
        </button>
        |
        <button :disabled="!isAveData" @click="downloadData_ave">
          <img src="https://img.icons8.com/material-outlined/24/000000/export-csv.png" /> データダウンロード
        </button>
        <br />
      </p>
      <p>
        分毎温度情報&nbsp;&nbsp;
        <button @click="displayGraph_raw">
          <img src="https://img.icons8.com/material-outlined/24/000000/graph.png" /> グラフ表示
        </button>
        |
        <button :disabled="!isRawData" @click="downloadData_raw">
          <img src="https://img.icons8.com/material-outlined/24/000000/export-csv.png" /> データダウンロード
        </button>
      </p>
      <br />
      <canvas id="myChart"></canvas>
    </div>
  </body>

  <script>
    const carIcon = 'https://img.icons8.com/material-outlined/24/FFFFFF/truck.png';
    const deviceInfo = [
      {
        url: '#car1',
        name: '1号車',
        id: 'DEV001',
        icon: carIcon,
      },
      {
        url: '#car2',
        name: '2号車',
        id: 'DEV002',
        icon: carIcon,
      },
      {
        url: '#car3',
        name: '3号車',
        id: 'DEV003',
        icon: carIcon,
      },
    ];

    var nav = new Vue({
      el: '#nav',
      data: {
        isOpen: false,
        items: [
          {
            url: '#home',
            name: 'Home',
            icon: 'https://img.icons8.com/material-outlined/24/FFFFFF/home--v2.png',
          },
          {
            url: '#Service',
            name: 'Service',
            children: deviceInfo,
            icon: 'https://img.icons8.com/material-outlined/24/FFFFFF/search-database.png',
          },
          {
            url: '#about',
            name: 'About',
            icon: 'https://img.icons8.com/material-outlined/24/FFFFFF/about.png',
          },
          {
            url: '#contact',
            name: 'Contact',
            icon: 'https://img.icons8.com/material-outlined/24/FFFFFF/add-contact-to-company.png',
          },
        ],
      },

      methods: {
        mouseover: function () {
          this.isOpen = true;
        },
        mouseleave: function () {
          this.isOpen = false;
        },
        getData: async function (device) {
          await app.getData(device);
          app.displayGraph_ave();
        },
        getSrcUrl: function (url) {
          return require(url);
        },
      },
    });

    var app = new Vue({
      el: '#app',
      data: {
        myChart: null,
        labels: [],
        isAveData: false,
        isRawData: false,
        device: deviceInfo[0],
        selectedDevice: deviceInfo[0].name,
      },
      methods: {
        getData: async function (device) {
          this.device.id = device.id;
          this.device.name = device.name;
          this.selectedDevice = device.name;

          const base_url = 'https://8eyxkugx5h.execute-api.ap-northeast-1.amazonaws.com/prod/temperature';

          // get temp_ave data
          await axios.get(`${base_url}/stat?DeviceID=${device.id}`).then((response) => {
            if (response.data.length === 0) {
              this.temp_ave.length = 0;
              this.temp_max.length = 0;
              this.temp_min.length = 0;
              this.labels.length = 0;
              this.isAveData = false;
            } else {
              this.temp_ave = response.data.map((temp) => temp.temp_ave);
              this.temp_max = response.data.map((temp) => temp.temp_max);
              this.temp_min = response.data.map((temp) => temp.temp_min);
              this.labels = response.data.map((temp) => temp.DateTime);
              this.isAveData = true;
            }
          });

          //get temp_raw data
          await axios
            .get(`${base_url}/raw?DeviceID=${device.id}`)
            .then((response) => {
              if (response.data.length === 0) {
                this.temp_raw.length = 0;
                this.labels_raw.length = 0;
                this.isRawData = false;
              } else {
                this.temp_raw = response.data.map((temp) => temp.temp_raw);
                this.labels_raw = response.data.map((temp) => temp.DateTime);
                this.isRawData = true;
              }
            })
            .catch((error) => {
              this.temp_raw.length = 0;
              this.labels_raw.length = 0;
              this.isRawData = false;
            });
        },
        downloadData_ave: function () {
          let csv_data = ['"Date","Ave.","Min.","Max."'];

          const data_length = this.labels.length;
          for (let i = 0; i < data_length; i++) {
            let data =
              '"' +
              this.labels[i] +
              '","' +
              this.temp_ave[i] +
              '","' +
              this.temp_min[i] +
              '","' +
              this.temp_max[i] +
              '"';
            csv_data.push(data);
          }

          const data = csv_data.join('\r\n');
          this.export_csv(data, `${this.selectedDevice}_ave.csv`);
        },
        downloadData_raw: function () {
          let csv_data = ['"Date","Temp."'];

          const data_length = this.labels_raw.length;
          for (let i = 0; i < data_length; i++) {
            let data = '"' + this.labels_raw[i] + '","' + this.temp_raw[i] + '"';
            csv_data.push(data);
          }

          const data = csv_data.join('\r\n');
          this.export_csv(data, `${this.selectedDevice}_raw.csv`);
        },
        export_csv: function (raw_data, filename) {
          const UTF_8_BOM = '%EF%BB%BF';

          const data = 'data:text/csv;charset=utf-8,' + UTF_8_BOM + encodeURIComponent(raw_data);

          var element = document.createElement('a');
          element.href = data;
          element.setAttribute('download', filename);
          document.body.appendChild(element);
          element.click();
          document.body.removeChild(element);
        },
        displayGraph_ave: function () {
          document.getElementById('myChart').style.display = 'block';
          var data = {
            labels: this.labels,
            datasets: [
              {
                label: '平均値',
                data: this.temp_ave,
                fill: false,
                backgroundColor: 'rgba(200,30,30,0)',
                borderColor: 'rgba(230,10,10,1)',
                lineTension: 0.2,
              },
              {
                label: '最大値',
                data: this.temp_max,
                fill: false,
                backgroundColor: 'rgba(200,30,30,1)',
                borderColor: 'rgba(230,10,10,1)',
                borderWidth: 0,
                lineTension: 0.2,
                pointStyle: 'line',
                showLine: false,
              },
              {
                label: '最小値',
                data: this.temp_min,
                fill: false,
                backgroundColor: 'rgba(30,30,200,1)',
                borderColor: 'rgba(10,10,230,1)',
                borderWidth: 0,
                lineTension: 0.2,
                pointStyle: 'line',
                showLine: false,
              },
            ],
          };

          this.myChart.options.title.text = '温度履歴(1時間毎 平均/最大/最小)';
          this.myChart.data = data;
          this.myChart.update();
          // }
        },
        displayGraph_raw: function () {
          document.getElementById('myChart').style.display = 'block';
          var data = {
            labels: this.labels_raw,
            datasets: [
              {
                label: '平均値',
                data: this.temp_raw,
                fill: false,
                backgroundColor: 'rgba(200,30,30,0)',
                borderColor: 'rgba(230,10,10,1)',
                borderWidth: 0,
                lineTension: 0.2,
                pointRadius: 0, // hide points
              },
            ],
          };

          this.myChart.options.title.text = '温度履歴(1分毎平均)';
          this.myChart.data = data;
          this.myChart.update();
        },
      },

      mounted: async function () {
        document.getElementById('myChart').style.display = 'none';
        var ctx = document.getElementById('myChart').getContext('2d');
        ctx.canvas.height = 250;

        var data = {
          labels: this.labels,
          datasets: [],
        };
        var options = {
          scales: {
            yAxes: [
              {
                scaleLabel: {
                  display: true,
                  labelString: '温度(℃)',
                },
                ticks: {
                  min: -40,
                  max: 40,
                  //beginAtZero: true
                },
              },
            ],
          },
          title: {
            display: true,
            text: '温度履歴',
          },
          responsive: true,
          maintainAspectRatio: false,
        };
        this.myChart = new Chart(ctx, {
          type: 'line',
          data: data,
          options: options,
        });

        const device = deviceInfo[0];
        await this.getData(device);
        this.displayGraph_ave();
      },
    });
  </script>
</html>
